{% extends "bootstrap/base.html" %}
{% block title %}哈尔滨监狱{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">哈尔滨监狱</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
 
{% block content %}
<div class="container">
    <div class="page-header">
            {% if not session.logged_in %}
            <a href="{{ url_for('logout') }}">退出登录</a>
        {% else %}
            <a href="{{ url_for('login') }}">登录</a>
        {% endif %}
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('addks') }}" method="post">
    <dl>
      <dd>
      <select name="kanshou">
        <option style="width:100px" >看守大队</option>

      </select>
      <dt>值班领导:
      <dd>
      <input type="text" name="zhibanlingdao" style="width:100px" required>
      <dt>大门:
      <dd>
      <input type="text" name="damen" style="width:100px" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required>
      <dt>二门:
      <dd>
      <input type="text" name="ermen" style="width:100px" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required>
      <dt>三门:
      <dd>
      <input type="text" name="sanmen" style="width:100px" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required>
      <dt>填表人:
      <dd>
      <input type="text" name="beizhu" style="width:100px" required>
      <dd><input type="submit" value="上报">
    </dl>
  </form>
    </div>
</div>
{% endblock %}